# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build outputs
dist
dist-ssr
.output
.vinxi
.nitro
.tanstack/**
.wrangler/

# Env
.env
.env.*

# Python
__pycache__/
*.pyc
db.sqlite3

# Virtual env
venv/
.venv/
backend/venv/

# IDE
.vscode/
.idea

# OS
.DS_Store